@model SelectedVersionOutput<ParseFrameworkOutput>
@{
    ViewData["Title"] = "Parse Framework";
    var output = Model.Output;
}

<h1>Parse a framework</h1>
<p>
    Enter a NuGet framework to see how it parses. Both short form (e.g. <code>net45</code>) and long form (e.g. <code>.NETFramework,Version=v4.5</code>) are supported.
</p>

<form method="GET" action="">
    <div class="form-group">
        <label for="framework">Framework</label>
        <input type="text" class="form-control monospace" name="framework" id="framework"
               placeholder="net45" value="@output.Input.Framework">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="results">
    @if (@output.InputStatus == InputStatus.Valid)
    {
        <div class="alert alert-success" role="alert">
            <p>
                The input value is <b>@output.Input.Framework</b>.
            </p>
            <p>
                The short folder name is <code>@output.Framework.ShortFolderName</code>.
            </p>
            <p>
                The .NET framework name is <code>@output.Framework.DotNetFrameworkName</code>.
            </p>
        </div>
    }
    else if (@output.InputStatus == InputStatus.Invalid)
    {
        <div class="alert alert-danger" role="alert">
            The framework <b>@output.Input.Framework</b> could not be parsed.
        </div>
    }
</div>
