@model ParseVersionOutput
@{
    ViewData["Title"] = "Parse Version";
}

<h1>Parse a version</h1>
<p>
    Enter a NuGet package version to see how it parses.
</p>

<form method="GET" action="">
    <div class="form-group">
        <label for="version">Version</label>
        <input type="text" class="form-control" name="version" id="version"
               placeholder="1.0.0-beta" value="@Model.Input.Version">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="results">
    @if (@Model.InputStatus == InputStatus.Valid)
    {
        <div class="alert alert-success" role="alert">
            <p>
                The normalized version is <code>@Model.Version.ToNormalizedString()</code>.
            </p>
            <p>
                The full version is <code>@Model.Version.ToFullString()</code>.
            </p>
            <p>
            @if (Model.Version.Revision != 0)
            {
                @:The version has a revision (fourth integer in the version) so it is not strictly SemVer. However,
                @:NuGet considers the version to be
                if (Model.Version.IsSemVer2)
                {
                    @:<b>SemVer 2.0.0</b>.
                }
                else
                {
                    @:<b>SemVer 1.0.0</b>.
                }
            }
            else
            {
                @:The version is
                if (Model.Version.IsSemVer2)
                {
                    @:<b>SemVer 2.0.0</b>.
                }
                else
                {
                    @:<b>SemVer 1.0.0</b>.
                }
            }
            </p>
            @if (Model.Version.IsPrerelease)
            {
                <p>The version <b>is</b> prerelease.</p>
            }
            else
            {
                <p>The version <b>is not</b> prerelease.</p>
            }
        </div>
    }
    else if (@Model.InputStatus == InputStatus.Invalid)
    {
        <div class="alert alert-danger" role="alert">
            The version <b>@Model.Input.Version</b> could not be parsed.
        </div>
    }
</div>
