@model VersionComparisonOutput
@{
    ViewData["Title"] = "Version Comparison";
}

<h1>Compare two versions</h1>
<p>
    Enter two NuGet package versions to compare them.
</p>

<form method="GET" action="">
    <div class="form-group">
        <label for="versionA">Version A</label>
        <input type="text" class="form-control" name="versionA" id="versionA"
               placeholder="1.0.0-beta" value="@Model.Input.VersionA">
    </div>
    <div class="form-group">
        <label for="versionB">Version B</label>
        <input type="text" class="form-control" name="versionB" id="versionB"
               placeholder="2.0" value="@Model.Input.VersionB">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="submit" name="swap" id="swap" value="true" class="btn btn-default">Swap</button>
</form>

<div class="results">
    @if (@Model.InputStatus == InputStatus.Valid)
    {
        <div class="alert alert-success" role="alert">
            <code>@Model.VersionA.ToFullString()</code> <b>(@Model.Input.VersionA)</b>
            @switch (Model.Result)
            {
                case ComparisonResult.LessThan:
                    @:is less than 
                    break;
                case ComparisonResult.Equal:
                    @:is equal to
                    break;
                case ComparisonResult.GreaterThan:
                    @:is greater than
                    break;
            }
            <code>@Model.VersionB.ToFullString()</code> <b>(@Model.Input.VersionB)</b>.
        </div>
    }
    else if (@Model.InputStatus == InputStatus.Invalid)
    {
        if (!@Model.IsVersionAValid)
        {
            <div class="alert alert-danger" role="alert">
                Version A <b>@Model.Input.VersionA</b> could not be parsed.
            </div>
        }

        if (!@Model.IsVersionBValid)
        {
            <div class="alert alert-danger" role="alert">
                <b>Version B @Model.Input.VersionB</b> could not be parsed.
            </div>
        }
    }
</div>